.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  margin-top: 15px;
  img {
    width: 50%;
  }
}

.navigation {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  button {
    background-color: #e4611c;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    width: 220px;
    padding: 10px;
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    transition: all 150ms ease-in;

    &:hover {
      border: solid 2px white;
      transform: scale(1.08);
      border-radius: 5px;
      width: 220px;
    }
  }
}

//Responsive
@media (min-width: 360px) and (max-width: 799px) {
  .header {
    width: 330px;
    img {
      width: 100%;
    }
    button {
      width: 170px;
      font-size: 16px;
    }
  }
  .navigation {
    gap: 10px;
  }
}
@media (min-width: 799px) and (max-width: 800px) {
  .header {
    width: 800px;
    img {
      width: 80%;
    }
    button {
      width: 200px;
      font-size: 16px;
    }
  }
  .navigation {
    gap: 10px;
  }
}
